/* resetar as margin e padding do padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Medida do tamanho da caixa, para que seja medida atraves da borda, para manter o valor do width do container e qualquer preenchimento interno ele vai se virar pra colocar*/
}

:root {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --suface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 0, 0, 0.1);
    --switch-bg-url: url(assets/sun.svg);
}

body {
    /* background-image: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    /*background: color image repeat position/size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    /* color: #ffffff */
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    /*height: 712px; essa largura foi só pra mostrar uma linha em volta do que será o container, não precisa colocar pq a altura precisa aumentar ou diminuir conforme vou colocando conteúdo na página*/
    /* border: 1px solid red; */
    /*margin: auto; Alinhou ao meio o container*/
    margin: 56px auto 0px;
    padding: 0 24px;
}

/*img é um elemento inline e não aceita margin auto para alinhar, para aceitar tenho que mudar o display dele de inline para block.*/
/* #profile img{
    display: block;
    width: 112px;
    margin: auto;
} */

/*Outra maneira de alinha um alemento do tipo inline, mas esses elementos inline aceitam que o pai dele tenha um text-align: center
ou seja eles aceitam que o pai defina que ele fique centralizado, ou canto direito right, esquerdo left */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
}

#profile p {
    font-weight: 500;
    /*font-size: 16px; padrão dos navegadores não precisa colocar esse tamanho se for usar 16px*/
    line-height: 24px; /*Altura da linha entre o texto e imagem*/
    margin-top: 8px;
}

/* switch */
#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* Links o li: é display block vai ocupar todo a largura disponivel, o a: display inline ocupa só o tamanho do elemento*/
ul {
    list-style: none; /*remover os pontinhos da lista*/
    display: flex;
    flex-direction: column;
    gap: 16px; /* espaço entre elementos sem dar espaço em cima e embaixo.*/

    padding: 24px 0;
}

ul li a {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    justify-content: center;
   
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /*Usado para fazer o efeito no safari 9*/

    text-decoration: none;
    font-weight: 500;

    transition: background 0.4s;
}

/*pseudo-selector*/
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1px solid var(--text-color);
}

/*social-links*/
#social-links {
    display: flex; /*Coloco em flex para pode usar o gap, pois ele já estava uma ao lado do outro*/
    justify-content: center;
    /* gap: 32px; */

    padding: 24px 0; /*espaço interno de 24px em cima e embaixo dos e 0 dos lados*/

    font-size: 24px;
}

/*Alinhar a bolinha para o icone ficar bem no centro dela*/
#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.4s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-style: 14px;
}

/* media queries */
@media (min-width: 700px) {
    :root {
        --bg-url: url(assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(assets/bg-desktop-light.jpg);
    }
}